{% extends 'base.html' %}

{% block title %}
{{pesquisador.nome}}
{% endblock %}

{% block content %}
  <!-- Botão voltar -->
  <div class="flex justify-start mb-4">
    <a href="{% url 'appPesquisa:pesquisador_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white rounded px-4 py-2">
        Voltar
    </a>
  </div>

  <!-- Título e botão editar -->
  <div class="flex mb-4">
    <h1 class="text-4xl font-bold text-blue-600 mb-4 flex-grow">Detalhes do Pesquisador</h1>
    <a href="{% url 'appPesquisa:pesquisador_update' pesquisador.id %}" class="bg-gray-500 hover:bg-gray-600 text-white rounded px-4 py-2 mx-2 h-full">
      Editar
    </a>
    <a href="{% url 'appPesquisa:pesquisador_delete' pesquisador.id %}" class="bg-red-500 hover:bg-red-600 text-white rounded px-4 py-2 h-full">
      Deletar
    </a>
  </div>

    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-lg font-bold mb-2">{{pesquisador.nome}}</h2>
      <p>Área de Atuação: {{pesquisador.area_atuacao}}</p>
    </div>

    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-lg font-bold mb-2">Projetos</h2>
      <ul>
        <!-- Adicione mais projetos conforme necessário -->
        {% for projeto in projetos %}
          <li>{{ projeto.dados_relacionamento_para_string }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
