{% extends 'base.html' %}

{% block title %}
{{projeto.nome}}
{% endblock %}

{% block content %}
  <!-- Botão voltar -->
  <div class="flex justify-start mb-4">
    <a href="{% url 'appPesquisa:projeto_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white rounded px-4 py-2">
        Voltar
    </a>
  </div>

  <!-- Título e botão editar -->
  <div class="flex mb-4">
    <h1 class="text-4xl font-bold text-blue-600 mb-4 flex-grow">Detalhes do Projeto</h1>
    <a href="{% url 'appPesquisa:projeto_update' projeto.id %}" class="bg-gray-500 hover:bg-gray-600 text-white rounded px-4 py-2 mx-2 h-full">
      Editar
    </a>
    <a href="{% url 'appPesquisa:projeto_delete' projeto.id %}" class="bg-red-500 hover:bg-red-600 text-white rounded px-4 py-2 mx-2 h-full">
      Deletar
    </a>
    <a href="{% url 'appPesquisa:resultado_create' projeto.id %}" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 h-full">
      Adicionar resultado
    </a>
  </div>

    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-lg font-bold mb-2">{{projeto.nome}}</h2>
      <p>Descrição: {{projeto.descricao}}</p>
      <small>Situação: {{ projeto.situacao }}</small><br/>
      <small>Natureza: {{ projeto.natureza }}</small><br/>
      <small>Criado em: {{ projeto.criado_em }}</small><br/>
      <small>Encerramento em: {{ projeto.data_encerramento }}</small>
    </div>

    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-lg font-bold mb-2">Pesquisadores</h2>
      <ul>
        {% for pesquisador in pesquisadores %}
          <li>{{ pesquisador }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-lg font-bold mb-2">Resultados</h2>
      <ul>
        {% for resultado in resultados %}
          <a href="{% url 'appPesquisa:resultado_detail' resultado.id %}">
            <li>{{ resultado }}</li>
          </a>
        {% endfor %}
      </ul>
    </div>

{% endblock %}
