{% extends 'base.html' %}

{% block title %}
Edição
{% endblock %}

{% block content %}
    <!-- Botão voltar -->
    <div class="flex justify-start mb-4">
        <a href="{% url 'appPesquisa:projeto_detail' projeto.id %}" class="bg-gray-500 hover:bg-gray-600 text-white rounded px-4 py-2">
            Voltar
        </a>
    </div>

    
    <!-- Div centralizada -->
    <div class="flex flex-col items-center">
        <!-- Título -->
        <h1 class='text-4xl font-bold text-blue-600 mb-4 flex-grow'>Editar Projeto</h1>
        <!-- Formulário -->
        <form method="post" class='w-full max-w-sm'>
            {% csrf_token %}
            {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li><b>{{ field.label_tag}}</b> {{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in form %}
                    <div class="mb-4">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
            {% endfor %}

            {{ inline.management_form }}

            {% for inline_form in inline %}
                <div class="border border-gray-400 rounded p-4 mb-4 inlineform">
                    {% for field in inline_form %}
                        <div class="mb-4">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2">
                Atualizar
            </button>
        </form>
    </div>
{% endblock %}


{% block javascript %}

    <script type="text/javascript">
        $(function () {
            $('.inlineform').formset({
                prefix: '{{ inline.prefix }}',
                addText: 'Adicionar novo integrante',
                deleteText: 'Remover integrante',
                addCssClass: 'bg-green-500 text-white font-bold py-2 px-4 rounded',
                deleteCssClass: 'bg-red-500 text-white font-bold py-2 px-4 rounded',

            });
        });
    </script>
{% endblock %}
