{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}appPesquisa{% endblock %}</title>
    <!-- Add your CSS and other external dependencies here -->
    <!-- <link rel="stylesheet" href="{% static 'css/openai.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
</head>
<body>
    <header>
        <!-- Add your header content here -->
    </header>

    <main>
        <div class="container mx-auto py-8">
            {% block content %}
            <!-- The content of each specific page will be placed here -->
            {% endblock %}
        </div>
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>

    <!-- Add your JavaScript and other scripts here -->
    {% block javascript %}
    {% endblock %}
</body>
</html>
